<% var data = { title: "Акции", author: "Modus" }; %>
<%=_.template(require('./../includes/header.html'))(data) %>
<div class="wrapper catalog page">

    <div class="l_container lookbook_container page_container">
        <div class="big_text">404</div>
        <div class="error">
            Данная страница не найдена!
        </div>
        <a href="#">
            <button class="all_button">Перейти на главную</button>
        </a>
    </div>
</div>
<script src="js/bundle.js"></script>
</body>

</html>