<% var data = { title: "О Компании", author: "Modus" }; %>
<%=_.template(require('./../includes/header.html'))(data) %>
<div class="wrapper catalog about">
    <div class="l_container  about_container lookbook_container">
        <h2 class="text_header_all">О Компании</h2>
        <div class="container_info_about">
            <p class="text_about">Modus Vivendi – известный отечественный производитель эксклюзивной модельной обуви. С
                1999 года мы с
                успехом работали с оптовыми клиентами, поставляя товар высочайшего качества в магазины Украины, ближнего
                и дальнего зарубежья – от районных центров Харьковской области до торговых центров столицы Австралии. В
                2014 году, впервые, мы предлагаем новую коллекцию своим розничным клиентам напрямую – по небывало
                выгодным ценам от производителя.
                <br>
                <br>

                Почему вам понравится совершать покупки в нашем интернет-магазине?</p>
            <div class="row_container_about">
                <div class="image_about">
                    <img src="./img/svg/High_hills.svg" alt="Картинка" class="img_responsive">
                </div>
                <p>
                    <span> Высокое качество</span>
                    <br>

                    Мы гордимся тем, что используем только первоклассную кожу и эксклюзивную фурнитуру от лучших
                    европейских производителей. Над каждой моделью трудится команда компетентных мастеров. Наша обувь
                    порадует вас не только красотой, но и исключительным удобством и долговечностью.
                </p>
            </div>
            <div class="row_container_about">
                <div class="image_about">
                    <img src="./img/svg/Question.svg" alt="Картинка" class="img_responsive">
                </div>
                <p>
                    <span>Максимально подробная информация</span>
                    <br>

                    Детальные фотографии и описания каждой модели обуви, представленной в каталоге Modus Vivendi. Нам
                    незачем скрывать высочайшее качество и уникальный дизайн нашей обуви. Вы без труда выберете не
                    просто приглянувшуюся пару, а обувь точно по вашей ножке.
                </p>
            </div>
            <div class="row_container_about">
                <div class="image_about">
                    <img src="./img/svg/Phone.svg" alt="Картинка" class="img_responsive">
                </div>
                <p>
                    <span>Дружелюбный сервис</span>
                    <br>

                    У вас возникли вопросы? Наши менеджеры с удовольствием ответят на любой – от рекомендаций по выбору
                    размера до советов по уходу за каждой конкретной парой. Хотите получить фото именно своей покупки
                    перед отправлением – никаких проблем!
                </p>
            </div>
            <div class="row_container_about">
                <div class="image_about">
                    <img src=".\img\svg\Delivery.svg" alt="Картинка" class="img_responsive">
                </div>
                <p>
                    <span>Оперативная доставка</span>
                    <br>

                    Ваш заказ прибудет в любой город Украины в течение одного-двух дней. Доставка осуществляется
                    транспортной компанией «Новая почта» или другим удобным для Вас способом.
                </p>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html'))(data) %>