<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        Оформление заказа
    </title>
    <meta name="theme-color" content="#c9e0e04d" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <!--<link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
	-->
    <link rel="stylesheet" href="css/style.bundle.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.js"></script>
</head>

<body>
    <header>
        <div class="l_container m_header d_flex a_items_center j_c_space_between ">
            <div class="logo_header">
                <a href="#">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 466 92" style="enable-background:new 0 0 466 92;"
                        xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                            }
                        </style>
                        <g>
                            <path class="st0" d="M187.8,82.7C198.9,68.5,205,51,206.7,30.6l0.8,0c0.5,7.2,1.2,17.1,2.5,24.6c1.8-8,4.3-17.7,5.1-24.6h0.7
		c0.1,10.6,0.4,22.7,2.6,34l-0.7,0c-2.4-6.2-3.1-15.8-3.6-22.5c-1.2,5.8-2.7,12.7-3.9,18.6h-0.5c-0.8-3.1-1.6-7.9-2-10.8
		c-4.9,13.3-12,25.1-19.6,32.9L187.8,82.7z" />
                            <path class="st0" d="M219.8,30.6c-0.7,14.7,1.7,25.5,6.1,34c0.3,0,0.5,0,0.8,0c-0.9-25.4,8.1-42.7,22.8-55.6
		c-0.4-0.3-0.9-0.6-1.3-0.9c-11,9.1-21.3,23.3-25.2,40.7c-1.2-5.4-2.1-13.3-2.4-18.1C220.3,30.6,220,30.6,219.8,30.6z" />
                            <path class="st0" d="M204,31.5c-0.5,9.5-2.3,18.4-5.5,26.6c-3.2,8.3-7.7,16-13.5,23.1l-0.8-0.6c5.7-7.1,10.2-14.7,13.3-22.8
		c3.1-8.2,5-16.9,5.5-26.3L204,31.5z" />
                            <path class="st0" d="M205.4,63.4c-1.9,4-4.2,7.8-6.7,11.5c-2.5,3.7-5.1,7.2-7.8,10.7l-0.8-0.6c2.7-3.5,5.3-7,7.7-10.7
		c2.4-3.6,4.7-7.4,6.6-11.4L205.4,63.4z" />
                            <path class="st0" d="M246.6,6.3c-4.4,3.7-8.5,8-12.2,13c-3.7,5-7.1,10.6-10,17.1l-0.9-0.4c3-6.6,6.4-12.3,10.1-17.3
		c3.8-5,7.9-9.3,12.4-13.1L246.6,6.3z" />
                            <path class="st0" d="M229,64.6L229,64.6c-0.2-3-0.1-6,0.1-9c0.2-3,0.7-5.9,1.3-8.8c3.1-14.9,10.9-28.5,21.1-36.9l0.6,0.8
		c-10,8.3-17.7,21.6-20.7,36.3c-0.6,2.9-1,5.8-1.3,8.7c-0.2,2.9-0.3,5.9-0.1,8.8l0,0L229,64.6z" />
                            <path class="st0" d="M195,64L195,64L195,64c-0.5-0.6-0.9-1.3-1.3-1.9c-0.4-0.7-0.8-1.4-1.1-2.1c-1.8-3.6-2.6-7.8-2.6-12.1h0v0h0
		c0-7.6,3.1-14.4,8-19.4c5-5,11.8-8,19.4-8v0h0h0v0c2.4,0,4.8,0.3,7,0.9c0.4,0.1,0.7,0.2,1.1,0.3c1.8,0.6,3.6,1.3,5.2,2.2l-0.5,0.9
		c-1.6-0.9-3.3-1.6-5.1-2.2c-0.3-0.1-0.7-0.2-1-0.3c-2.2-0.6-4.4-0.9-6.7-0.9v0h0h0v0c-7.3,0-13.9,3-18.6,7.7
		c-4.8,4.8-7.7,11.4-7.7,18.7h0v0h0c0,4.1,0.9,8.2,2.6,11.7c0.3,0.7,0.7,1.3,1.1,2c0.4,0.6,0.8,1.3,1.3,1.8l-0.3,0.2L195,64L195,64z
		 M237.2,29.2l-0.4,0.4l-0.3,0.3l0,0l0,0l0,0l0,0c0.6,0.7,1.2,1.3,1.7,2.1c0.5,0.7,1.1,1.5,1.5,2.2c2.4,4,3.8,8.7,3.8,13.7h0
		c0,1.9-0.2,3.8-0.6,5.7c-0.4,1.8-1,3.6-1.8,5.3c-0.8,1.7-1.7,3.2-2.8,4.7c-4.8,6.5-12.5,10.7-21.2,10.7c-2.1,0-4.3-0.2-6.3-0.7
		c-0.6-0.1-1.2-0.3-1.8-0.5c-0.6-0.2-1.1-0.4-1.7-0.6c-1.7-0.7-3.3-1.5-4.7-2.5v0l0,0l-0.1-0.1l0,0l-0.1-0.1
		c-0.2-0.2-0.5-0.4-0.6-0.5l-0.6,0.8c0.1,0.1,0.4,0.3,0.7,0.5l0.1,0.1h0l0.1,0.1l0,0l0,0c1.5,1.1,3.1,2,4.9,2.6
		c0.6,0.2,1.2,0.4,1.8,0.6c0.6,0.2,1.2,0.3,1.8,0.5c2.1,0.5,4.3,0.7,6.5,0.7c9,0,17.1-4.4,22-11.1c1.1-1.5,2.1-3.2,2.9-4.9
		c0.8-1.7,1.4-3.6,1.8-5.5c0.4-1.9,0.6-3.9,0.6-5.9h0c0-5.2-1.5-10.1-4-14.2c-0.5-0.8-1-1.6-1.6-2.3
		C238.5,30.6,237.9,29.9,237.2,29.2L237.2,29.2L237.2,29.2z" />
                            <path class="st0" d="M194.2,67.4L194.2,67.4l-0.7,0.6l-0.1,0.1c-0.6-0.8-1.2-1.6-1.8-2.4c-0.6-0.8-1.1-1.7-1.6-2.5
		c-2.5-4.5-4-9.7-4-15.2v0h0c0-8.6,3.4-16.4,9.1-22.1c0.9-0.9,1.9-1.8,2.9-2.6c5.3-4.1,11.9-6.6,19.2-6.6v0h0v0
		c2.9,0,5.6,0.4,8.2,1.1c0.4,0.1,0.8,0.2,1.3,0.4c2.2,0.7,4.2,1.6,6.1,2.7l-0.5,0.9c-1.9-1.1-3.8-1.9-5.9-2.6
		c-0.4-0.1-0.8-0.2-1.2-0.4c-2.5-0.7-5.2-1-8-1v0h0v0c-7.1,0-13.5,2.4-18.6,6.4c-1,0.8-1.9,1.6-2.8,2.5c-5.4,5.5-8.8,13-8.8,21.4h0
		v0c0,5.3,1.4,10.4,3.8,14.7c0.5,0.9,1,1.7,1.5,2.5C192.9,65.9,193.5,66.6,194.2,67.4L194.2,67.4L194.2,67.4z M239.3,25.7l-0.7,0.7
		l0.1,0.1c0.8,0.8,1.5,1.6,2.2,2.4c0.7,0.9,1.3,1.7,1.9,2.7c3,4.7,4.7,10.3,4.7,16.3l0,0.2c0,2.3-0.3,4.6-0.8,6.8
		c-0.5,2.2-1.3,4.3-2.2,6.2c-4.9,10.1-15.2,17-27.1,17h0v0c-3.3,0-6.4-0.5-9.3-1.5c-0.5-0.2-0.9-0.3-1.4-0.5
		c-2.4-0.9-4.7-2.1-6.7-3.6l-0.6,0.8c2.1,1.5,4.5,2.8,6.9,3.7c0.5,0.2,1,0.4,1.5,0.5c3,1,6.3,1.5,9.6,1.5v0h0c12.3,0,23-7.2,28-17.6
		c1-2,1.8-4.2,2.3-6.4c0.5-2.2,0.8-4.6,0.9-7v0l0-0.2v0c0-6.2-1.7-12-4.8-16.8c-0.6-1-1.3-1.9-2-2.7c-0.7-0.9-1.5-1.7-2.2-2.5l0,0
		L239.3,25.7z" />
                            <path class="st0" d="M191.6,71.2L191.6,71.2L191.6,71.2c-0.8-0.8-1.6-1.7-2.3-2.6c-0.7-0.9-1.4-1.9-2-2.9
		c-3.1-5.2-4.7-11.3-4.7-17.8v0h0c0-9.6,3.9-18.2,10.1-24.5c6.3-6.3,14.9-10.1,24.5-10.1v0h0h0v0c3.2,0,6.3,0.4,9.3,1.3
		c0.5,0.1,1,0.3,1.4,0.4c2.4,0.8,4.7,1.8,6.9,3.1l-0.5,0.9c-2.1-1.2-4.3-2.3-6.7-3c-0.5-0.2-0.9-0.3-1.4-0.4c-2.9-0.8-5.9-1.2-9-1.2
		v0h0h0v0c-9.3,0-17.7,3.8-23.8,9.8c-6.1,6.1-9.8,14.5-9.9,23.8h0v0c0,6.3,1.6,12.3,4.6,17.3c0.6,1,1.2,1.9,1.9,2.8
		c0.7,0.9,1.4,1.7,2.2,2.5l0,0l0,0L191.6,71.2L191.6,71.2z M241,22.7l-0.4,0.5l-0.3,0.3l0,0l0,0l0,0l0,0c0.9,0.9,1.8,1.8,2.6,2.7
		c0.8,1,1.6,2,2.3,3c3.6,5.4,5.7,11.8,5.7,18.7v0h0c0,9.3-3.8,17.7-9.9,23.8c-6.1,6.1-14.5,9.8-23.8,9.8v0h0h0v0
		c-3.5,0-7-0.5-10.2-1.5c-0.5-0.2-1-0.3-1.6-0.5c-2.6-1-5.1-2.3-7.3-3.9l-0.6,0.8c2.3,1.7,4.8,3,7.6,4c0.5,0.2,1.1,0.4,1.6,0.5
		c3.3,1,6.9,1.6,10.5,1.6v0h0h0v0c9.6,0,18.2-3.9,24.5-10.1c6.3-6.3,10.1-14.9,10.1-24.5h0v0c0-7.1-2.2-13.8-5.9-19.3
		c-0.7-1.1-1.5-2.1-2.3-3.1C242.8,24.5,241.9,23.6,241,22.7L241,22.7L241,22.7z" />
                        </g>
                        <path class="st0" d="M23.1,35.8c-1.2,4.1-3.4,10.5-5.3,15.8l1.8,0.7l3.8-12c1.6,3.5,3.1,6.2,4.9,9.8h0c1.6-2.7,3.7-6.5,5.6-9.7
	c1.6,3.9,2.9,7.8,4.3,11.8l1.9-0.8c-1.9-5-4.7-12.4-5.7-14.9h0c-2,3.3-3.8,6.7-5.8,10C26.8,43,25,39.3,23.1,35.8L23.1,35.8
	L23.1,35.8z M62.5,37.4C62.5,37.4,62.5,37.4,62.5,37.4c3.5,0,6,2.5,5.7,7c-0.3,3.9-3.4,5.8-5.7,5.9c-3.6,0.3-6.2-2.3-6.2-5.9
	C56.2,40.8,58.6,37.5,62.5,37.4L62.5,37.4z M62.5,35.8c-1.6,0.1-3.3,0.6-4.6,1.5c-2.1,1.4-3.7,3.9-3.7,7.2c0,0,0,0.1,0,0.3
	c0,4.5,3.6,7.7,8.4,7.3c2.7-0.2,4.7-1.4,6.1-3.2c1.1-1.6,1.7-3.3,1.7-5.2C70.2,37.6,66.3,35.7,62.5,35.8L62.5,35.8z M86.6,36.1
	c0.1,2.2,0.1,4.4,0.1,6.6c0,3,0,6.1-0.1,9c2.6,0.3,13.7-1.9,13.8-9.6c0-5.2-7.8-6.1-12.3-6.1C87.5,36.1,87,36.1,86.6,36.1L86.6,36.1
	z M88.8,37.8c0.2,0,0.4,0,0.6,0c0.9,0,1.8,0.1,2.6,0.1c3.4,0.4,6.1,1.7,6.3,4.2c0.2,3.6-3.1,6.2-6.5,7.1c-1,0.3-2,0.5-2.9,0.6V37.8
	L88.8,37.8z M115.8,36.3c0,1.1,0,2.3,0,3.6c0,2.3,0.1,4.6,0.3,6c0.7,5.1,3.9,6.3,6.6,6.2c1,0,1.8-0.2,2.6-0.5
	c4.5-1.8,4.3-7.3,4.3-11.3c0-1.7,0-3.2,0-4.3h-2.1c0,1.2,0.1,2.9,0.1,4.7c0,1.9-0.1,3.9-0.3,5.2c-0.3,1.9-1.2,3.3-2.5,3.9
	c-0.7,0.4-1.4,0.5-2.2,0.5c-1.8,0-4.1-1-4.7-4.5c-0.2-1.1-0.2-2.7-0.3-4.4c0-1.7,0-3.5,0.2-5.2H115.8L115.8,36.3z M145.7,40.8
	c0,1.9,1.6,2.8,3,3.6c1,0.6,2.5,1.2,2.5,2.6c0,1-0.9,1.8-2,2.4c-1,0.5-2,0.8-2.9,1l0.6,1.7c1.5-0.4,3.3-1,4.5-2c1.3-1,2.1-2.3,2-3.8
	c-0.1-1.4-1-2-2.9-3.1c-0.9-0.6-2.5-1.1-2.6-2.3c-0.2-1.8,2.6-2.9,4.6-3.3l-0.5-1.7C148.2,36.7,145.7,39.1,145.7,40.8z" />
                        <path class="st0" d="M277.7,37c2.2,4.2,5.3,11,7.6,15.5h0c2.8-5.2,5.5-10.4,8.4-15.5l-1.8-1.1c-2,4.3-4.1,8.4-6.3,12.6
	c-2.1-4.2-4.1-8.4-6-12.6L277.7,37L277.7,37z M308.5,36.3c0,3.1,0.1,6.2,0.1,9.4c0,2.1,0,4.1-0.1,6.2h2.2c-0.1-2.8-0.1-5.5-0.2-8.2
	c0-2.5,0.1-4.9,0.2-7.3H308.5L308.5,36.3z M326,37c2.2,4.2,5.3,11,7.6,15.5h0c2.8-5.2,5.5-10.4,8.4-15.5l-1.8-1.1
	c-2,4.3-4.1,8.4-6.3,12.6c-2.1-4.2-4.1-8.4-6-12.6L326,37L326,37z M356.9,36.3c0,2.9,0,5.9,0,8.9c0,2.2,0,4.4,0,6.6
	c2.5,0.1,5,0.2,7.4,0.2l-0.1-1.9c-0.9,0-1.7,0-2.7,0.1c-0.9,0-1.8,0-2.6,0v-5.4c1.5,0,3.1,0.1,4.4,0.1l-0.1-1.8
	c-1.5,0.2-3,0.2-4.3,0.3v-5.6c1.5,0,3.3-0.1,5.1-0.1l-0.1-1.7C362.1,36,358.9,36.2,356.9,36.3L356.9,36.3z M381.5,35.5l-0.9,16.4
	l2.1,0.2l0.2-12.4h0c4.6,5,7.9,8.2,12.2,12.7h0c0.1-5.8,0.4-10.6,0.6-16l-2.1-0.1L393.6,48L381.5,35.5L381.5,35.5L381.5,35.5z
	 M413.3,36.2c0.1,2.2,0.1,4.4,0.1,6.6c0,3,0,6.1-0.1,9c2.6,0.3,13.7-1.9,13.8-9.6c0-5.2-7.8-6.1-12.3-6.1
	C414.2,36.2,413.7,36.2,413.3,36.2L413.3,36.2z M415.4,37.9c0.2,0,0.4,0,0.6,0c0.9,0,1.8,0.1,2.6,0.1c3.4,0.4,6.1,1.7,6.3,4.2
	c0.2,3.6-3.1,6.2-6.5,7.1c-1,0.3-2,0.5-2.9,0.6V37.9L415.4,37.9z M443.3,36.3c0,3.1,0.1,6.2,0.1,9.4c0,2.1,0,4.1-0.1,6.2h2.2
	c-0.1-2.8-0.1-5.5-0.2-8.2c0-2.5,0.1-4.9,0.2-7.3H443.3z" />
                    </svg>
                    <div class="text_logo">
                        Made in Ukraine with finest Italian components
                    </div>
                </a>
            </div>

            <ul class="menu_header d_flex">
                <li>
                    <span class="phone_number_header"><a href="tel:0000">+38 (063) 836 78 88</a>
                        <a href="tel:0000">+38 (063) 836 78 88</a>
                        <a href="tel:0000">+38 (063) 836 78 88</a></span>
                    <button class="phone">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="0 0 18.2 17.8" style="enable-background:new 0 0 18.2 17.8;"
                            xml:space="preserve">
                            <style type="text/css">
                                .st4 {
                                    fill: #0e0f0f;
                                }
                            </style>
                            <g>
                                <path class="st4"
                                    d="M16.6,15.6l-1.1,1.1c-0.2,0.2-0.8,0.3-0.8,0.3c-3.6,0-7.1-1.4-9.6-3.9c-2.6-2.6-4-6-3.9-9.7
                        c0,0,0.1-0.6,0.3-0.8l1.1-1.1C3,1.2,3.8,1,4.3,1.1l0.2,0.1C5.1,1.4,5.7,2,5.9,2.6l0.6,2.1C6.6,5.3,6.4,6.1,6,6.5L5.2,7.3
                        c0.7,2.8,2.9,4.9,5.7,5.7l0.8-0.8c0.4-0.4,1.2-0.6,1.8-0.5l2.1,0.6c0.6,0.2,1.2,0.7,1.4,1.3l0.1,0.2C17.2,14.4,17,15.2,16.6,15.6z" />
                            </g>
                        </svg>
                    </button>
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 5"
                        style="enable-background:new 0 0 10 5;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                fill: #ffffff;
                            }
                        </style>
                        <path id="Polygon_1" class="st0" d="M5,5L0,0h10L5,5z" />
                    </svg>
                </li>
            </ul>

        </div>
    </header>
    <div class="wrapper catalog ">
        <div class="l_container clearance_container">
            <h2 class="text_header_all">Оформление заказа</h2>
            <div class="tabs_container_clearance">
                <div class="tabs_links d_flex">
                    <div class="active">Новый покупатель</div>
                    <div>Я постоянный клиент</div>
                </div>
                <div class="container_tabs active">
                    <div class="new_persons">
                        <div class="top_text_personal d_flex">Получатель<div class="edit_click">Изменить</div>
                        </div>
                        <div>
                            <div class="personal_information d_flex">
                                <div>
                                    <label for="">Ваше имя<span>*</span></label>
                                    <input type="text" placeholder="Евгения" />
                                </div>
                                <div>
                                    <label for="">Фамилия<span>*</span></label>
                                    <input type="text" placeholder="Гавриш" />
                                </div>
                                <div>
                                    <label for="">E-mail<span>*</span></label>
                                    <input type="email" placeholder="evgeniya.gavrysh@gmail.com" />
                                </div>
                                <div>
                                    <label for="">Телефон<span>*</span></label>
                                    <input type="telephone" class="phone_number" placeholder="+38 (095) 315 89 79" />
                                </div>
                            </div>
                            <div class="conditions">
                                <input type="checkbox" id="send_me_sale" />
                                <label for="send_me_sale">Хочу получать информацию о скидках, подарках по электронной
                                    почте</label>
                            </div>
                        </div>
                        <div class="edit_click">Далее</div>
                        <div class="top_text_personal">Доставка</div>
                        <div class="delivery">
                            <div>
                                <label for="">Страна<span>*</span></label>
                                <select name="" id="">
                                    <option value="">Украина</option>
                                </select>
                            </div>
                            <div>
                                <label for="">Город<span>*</span></label>
                                <select name="" id="">
                                    <option value="">Киев</option>
                                    <option value="">Харьков</option>
                                </select>
                            </div>
                            <div class="delivery_new_all">
                                <div class="all_radio">
                                    <!-- Если по Украине-->
                                    <div>
                                        <input type="radio" id="delivery_new_mail" name="radio" />
                                        <label for="delivery_new_mail">Курьерская доставка Новой Почты</label>
                                    </div>
                                    <!-- Если именно Харьков
                                    <div>
                                        <input type="radio" id="delivery_new_mail" name="radio" />
                                        <label for="delivery_new_mail">Курьерская доставка по Харькову <img src="./img/image_info.png" alt="Картинка"></label>
                                    </div>
                                    -->
                                </div>
                                <!-- Если именно Харьков
                                <div class="kharkov_container">
                                    <div class="">
                                        <label for="">Улица/Проспект/Бульвар<span>*</span></label>
                                        <input type="text" placeholder="ул.Сумская" />
                                    </div>
                                    <div>
                                        <div class="">
                                            <label for="">Дом<span>*</span></label>
                                            <input type="text" placeholder="13" />
                                        </div>
                                        <div class="">
                                            <label for="">Квартира</label>
                                            <input type="text" placeholder="14" />
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Если любой другой в Украине то выводить это-->
                                <div class="new_mail_all">
                                    <div class="all_radio">
                                        <div>
                                            <input type="radio" id="new_mail" name="radio" />
                                            <label for="new_mail">Отделение Новой Почты</label>
                                        </div>
                                    </div>

                                    <div class="all_radio">
                                        <div>
                                            <select name="" id="">
                                                <option value="">Выберите подходящее отделение</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Если страна вывводить это значение
                                <div class="country">По вопросам оплаты и доставки с Вами дополнительно свяжется наш менеджер.</div> -->
                            </div>
                        </div>
                        <div class="top_text_personal">Оплата</div>
                        <div class="buy_internet">
                            <div>
                                <input type="radio" id="privat" name="radio" />
                                <label for="privat">Приват24</label>
                            </div>

                            <!-- Если по харькову Наличные исчезают -->
                            <div>
                                <input type="radio" id="cash" name="radio" />
                                <label for="cash">Наличные при получении</label>
                            </div>
                            <div>
                                <input type="radio" id="visamaster" name="radio" />
                                <label for="visamaster">Visa/MastetCard </label>
                            </div>
                            <div>
                                <input type="radio" id="installment" name="radio" />
                                <label for="installment">Рассрочка платежа (Приват банк)</label>
                            </div>
                        </div>
                    </div>
                    <div class="new_persons_buy">
                        <div class="container_items_buy">
                            <div class="items_product_basket d_flex">
                                <div class="image_product_info">
                                    <img src="./img/product_image.png" alt="Картинка">
                                    <div class="text_title_product">
                                        <div>Белые кроссовки из натуральной
                                            кожи из Европы </div>
                                        <div>Артикул: <span> 562204</span></div>
                                        <div class="d_flex a_items_center">
                                            <div class="size_basket">36 размер</div>
                                            <div class="number_quality">1 шт.</div>
                                            <div class="price_basket">
                                                Цена:<span>2 125 грн.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="items_product_basket d_flex">
                                <div class="image_product_info"><img src="./img/product_image.png" alt="Картинка">
                                    <div class="text_title_product">
                                        <div>Белые кроссовки из натуральной
                                            кожи из Европы </div>
                                        <div>Артикул: <span> 562204</span></div>
                                        <div class="d_flex a_items_center">
                                            <div class="size_basket">36 размер</div>
                                            <div class="number_quality">1 шт.</div>
                                            <div class="price_basket">
                                                Цена:<span>2 125 грн.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div>
                            <div class="top_result_text">Итого:</div>
                            <div class="d_flex">Общая стоимость:<span>4 250 грн.</span></div>
                            <div class="d_flex">Доставка:<span>100 грн.</span></div>
                        </div>
                        <div class="summa_container_buy">
                            <div>Сумма заказа</div>
                            <div>4 350 грн</div>
                            <div class="all_button">Оформить заказ</div>
                            <div>Оформля заказ, Вы соглашаетесь
                                с <a href="#">Политикой в отношении
                                    обработки персональных даных</a>
                                и принимаете условия <a href="#">Оферты.</a></div>
                        </div>
                    </div>
                </div>
                <div class="container_tabs">
                    <div class="new_persons">
                        <div class="top_text_personal d_flex">Получатель<div class="edit_click">Изменить</div>
                        </div>
                        <div>
                            <div class="personal_information d_flex">
                                <div>
                                    <label for="">Ваше имя<span>*</span></label>
                                    <input type="text" placeholder="Евгения" />
                                </div>
                                <div>
                                    <label for="">Фамилия<span>*</span></label>
                                    <input type="text" placeholder="Гавриш" />
                                </div>
                                <div>
                                    <label for="">E-mail<span>*</span></label>
                                    <input type="email" placeholder="evgeniya.gavrysh@gmail.com" />
                                </div>
                                <div>
                                    <label for="">Телефон<span>*</span></label>
                                    <input type="telephone" class="phone_number" placeholder="+38 (095) 315 89 79" />
                                </div>
                            </div>
                            <div class="conditions">
                                <input type="checkbox" id="send_me_sale" />
                                <label for="send_me_sale">Хочу получать информацию о скидках, подарках по электронной
                                    почте</label>
                            </div>
                        </div>
                        <div class="edit_click">Далее</div>
                        <div class="top_text_personal">Доставка</div>
                        <div class="delivery">
                            <div>
                                <label for="">Страна<span>*</span></label>
                                <select name="" id="">
                                    <option value="">Украина</option>
                                </select>
                            </div>
                            <div>
                                <label for="">Город<span>*</span></label>
                                <select name="" id="">
                                    <option value="">Киев</option>
                                    <option value="">Харьков</option>
                                </select>
                            </div>
                            <div class="delivery_new_all">
                                <div class="all_radio">
                                    <!-- Если по Украине-->
                                    <div>
                                        <input type="radio" id="delivery_new_mail" name="radio" />
                                        <label for="delivery_new_mail">Курьерская доставка Новой Почты</label>
                                    </div>
                                    <!-- Если именно Харьков
                                    <div>
                                        <input type="radio" id="delivery_new_mail" name="radio" />
                                        <label for="delivery_new_mail">Курьерская доставка по Харькову <img src="./img/image_info.png" alt="Картинка"></label>
                                    </div>
                                    -->
                                </div>
                                <!-- Если именно Харьков
                                <div class="kharkov_container">
                                    <div class="">
                                        <label for="">Улица/Проспект/Бульвар<span>*</span></label>
                                        <input type="text" placeholder="ул.Сумская" />
                                    </div>
                                    <div>
                                        <div class="">
                                            <label for="">Дом<span>*</span></label>
                                            <input type="text" placeholder="13" />
                                        </div>
                                        <div class="">
                                            <label for="">Квартира</label>
                                            <input type="text" placeholder="14" />
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Если любой другой в Украине то выводить это-->
                                <div class="new_mail_all">
                                    <div class="all_radio">
                                        <div>
                                            <input type="radio" id="new_mail" name="radio" />
                                            <label for="new_mail">Отделение Новой Почты</label>
                                        </div>
                                    </div>

                                    <div class="all_radio">
                                        <div>
                                            <select name="" id="">
                                                <option value="">Выберите подходящее отделение</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Если страна вывводить это значение
                                <div class="country">По вопросам оплаты и доставки с Вами дополнительно свяжется наш менеджер.</div> -->
                            </div>
                        </div>
                        <div class="top_text_personal">Оплата</div>
                        <div class="buy_internet">
                            <div>
                                <input type="radio" id="privat" name="radio" />
                                <label for="privat">Приват24</label>
                            </div>

                            <!-- Если по харькову Наличные исчезают -->
                            <div>
                                <input type="radio" id="cash" name="radio" />
                                <label for="cash">Наличные при получении</label>
                            </div>
                            <div>
                                <input type="radio" id="visamaster" name="radio" />
                                <label for="visamaster">Visa/MastetCard </label>
                            </div>
                            <div>
                                <input type="radio" id="installment" name="radio" />
                                <label for="installment">Рассрочка платежа (Приват банк)</label>
                            </div>
                        </div>
                    </div>
                    <div class="new_persons_buy">
                        <div class="container_items_buy">
                            <div class="items_product_basket d_flex">
                                <div class="image_product_info">
                                    <img src="./img/product_image.png" alt="Картинка">
                                    <div class="text_title_product">
                                        <div>Белые кроссовки из натуральной
                                            кожи из Европы </div>
                                        <div>Артикул: <span> 562204</span></div>
                                        <div class="d_flex a_items_center">
                                            <div class="size_basket">36 размер</div>
                                            <div class="number_quality">1 шт.</div>
                                            <div class="price_basket">
                                                Цена:<span>2 125 грн.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="items_product_basket d_flex">
                                <div class="image_product_info"><img src="./img/product_image.png" alt="Картинка">
                                    <div class="text_title_product">
                                        <div>Белые кроссовки из натуральной
                                            кожи из Европы </div>
                                        <div>Артикул: <span> 562204</span></div>
                                        <div class="d_flex a_items_center">
                                            <div class="size_basket">36 размер</div>
                                            <div class="number_quality">1 шт.</div>
                                            <div class="price_basket">
                                                Цена:<span>2 125 грн.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div>
                            <div class="top_result_text">Итого:</div>
                            <div class="d_flex">Общая стоимость:<span>4 250 грн.</span></div>
                            <div class="d_flex">Доставка:<span>100 грн.</span></div>
                        </div>
                        <div class="summa_container_buy">
                            <div>Сумма заказа</div>
                            <div>4 350 грн</div>
                            <div class="all_button">Оформить заказ</div>
                            <div>Оформля заказ, Вы соглашаетесь
                                с <a href="#">Политикой в отношении
                                    обработки персональных даных</a>
                                и принимаете условия <a href="#">Оферты.</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= _.template(require('./../includes/footer.html'))(data) %>