<% var data = { title: "Доставка и Оплата", author: "Modus" }; %>
<%=_.template(require('./../includes/header.html'))(data) %>
<div class="wrapper catalog delivery_and_buy">
    <div class="l_container lookbook_container delivery_and_buy_container">
        <h2 class="text_header_all">Доставка и Оплата</h2>
        <div class="container_delivery_and_buy">
            <div class="image_delivery">
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/Men.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Курьерская доставка по Харькову</span>
                        <br>
                        <br>
                        Наш курьер доставит заказ по указанному вами адресу. При заказе на сумму от 2000 гривен –
                        доставка бесплатная
                        <br>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/Nova_Poshta.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Доставка по всей Украине Новой Почтой</span>
                        <br>
                        <br>
                        Бесплатная доставка в ближайшее отделение «Новой почты» при условии полной оплаты на карту
                        ПриватБанка
                        <br>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/Delivery.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Доставка по всей Украине и миру</span>
                        <br>
                        <br>
                        Если вас интересует любой другой способ доставки – свяжитесь с нашим менеджером, и мы поможем
                        подобрать оптимальное решение
                        <br>
                        <a href="#">Подробнее</a>
                    </div>
                </div>
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/visa_master.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Безналичный расчет</span>
                        <br>
                        <br>
                        Оплата онлайн банковской картой при оформлении заказа
                    </div>
                </div>
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/privat.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Оплата через ПриватБанк</span>
                        <br>
                        <br>
                        Оплата при помощи сервисов:<br>
                        - Приват24<br>
                        - Оплата частями<br>
                    </div>
                </div>
                <div>
                    <div class="image_deilivery_items">
                        <img src="./img/Money.svg" alt="Картинка">
                    </div>
                    <div>
                        <span>Наличный расчет</span>
                        <br>
                        <br>
                        Оплата при получении заказа курьеру или
                        на отделении Новой Почты
                    </div>
                </div>
            </div>
            <div class="text_information_delivery">
                <span>Обратите внимание!</span>
                <br>
                <br>
                &nbsp;&nbsp; &nbsp;При получении заказа обязательно достаньте обувь из упаковки и внимательно осмотрите.
                Если обнаружатся
                помятости, другие повреждения, потеря внешнего вида – для оперативной замены или возврата нужно будет
                составить с представителями перевозчика соответствующий акт. В общем, шансы, что такое случится, крайне
                низки – «Новая почта» давно зарекомендовала себя, как ответственный и порядочный перевозчик, а мы в свою
                очередь предоставляем качественную упаковку с высокой степенью защиты продукции.
                <br>
                <br>
                <span> Условия возврата</span>
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;Всю обувь и акссесуары, приобретенные в нашем интернет-магазине, вы можете вернуть в
                течение 14 дней со
                дня покупки. Условия стандартны: товар не был в использовании, сохранен товарный вид, упаковка не
                повреждена + наличие товарного чека. При том, что подобные запросы приходят нам исключительно редко, мы
                всегда идем навстречу нашим клиентам и максимально облегчаем процедуру. Схема проста: вы высылаете
                товар, мы его проверяем и возвращаем деньги любым удобным вам способом.
                <br>
                <br>
                <span>Мы будем рады приветствовать в числе наших постоянных клиентов!</span>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html'))(data) %>