<% var data = { title: "Lookbook", author: "Modus" }; %>
<%=_.template(require('./../includes/header.html'))(data) %>
<div class="wrapper catalog lookbook">
    <div class="l_container lookbook_container">
        <h2 class="text_header_all">Lookbook</h2>
        <p class="text_container_lookbook">
            В данном разделе мы собрали для вас идеи, что и с чем носить.
            <br>
            <br>
            Над каждым образом поработал наш стилист.
        </p>
        <div class="image_container_lookbook">
            <div>
                <img src="./img/image_lookbook1.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook2.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook3.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook4.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook5.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook6.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook7.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook8.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
            <div>
                <img src="./img/image_lookbook9.png" alt="Картинка" class="img_responsive">
                <div class="bottom_text">
                    <p><a href="#">Сумка Modus Vivendi</a></p>
                    <p><a href="#">Ботинки Modus Vivendi</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
<%= _.template(require('./../includes/footer.html'))(data) %>