<% var data = { title: "Публечная Оферта", author: "Modus" }; %>
<%=_.template(require('./../includes/header.html'))(data) %>
<div class="wrapper catalog offer">
    <div class="l_container lookbook_container offer_container">
        <h2 class="text_header_all">ПУБЛИЧНАЯ ОФЕРТА</h2>
        <div class="container_inforamtion_offer">
            <span>Основные понятия</span>
            <br>
            <br>
            <span class="small_strong">Посетитель Сайта</span> — лицо, пришедшее на сайт <a
                href="#">https://shop.modus-vivendi.ua/</a>
            без цели размещения Заказа.
            <br>
            <br>
            <span class="small_strong">Пользователь</span> — физическое лицо, посетитель Сайта, принимающий условия
            пользовательского соглашения и
            желающий разместить Заказы на сайте <a href="#">https://shop.modus-vivendi.ua/</a>
            <br>
            <br>
            <span class="small_strong"> Покупатель</span> — Пользователь, разместивший Заказ на сайте <a
                href="#">https://shop.modus-vivendi.ua/</a> в целях приобретения
            товара для личных нужд.
            <br>
            <br>
            <span class="small_strong">Продавец</span> — ЧП Сулименко Олег Александрович, ИНН 3186406158
            <br>
            <br>
            <span class="small_strong">Интернет-магазин</span> — Интернет-сайт, расположенный в сети интернет по адресу
            <a href="#">https://shop.modus-vivendi.ua/</a>,
            где представлены Товары, предлагаемые Продавцом для приобретения, а также условия оплаты и доставки Товаров
            Покупателям.
            <br>
            <br>
            <span class="small_strong">Сайт</span> — <a href="#">https://shop.modus-vivendi.ua/</a>
            <br>
            <br>
            <span class="small_strong">Товар</span> — обувь, аксессуары и иные товары, представленные к продаже на Сайте
            Продавца.
            <br>
            <br>
            <span class="small_strong">Заказ</span> — должным образом оформленный запрос Покупателя на приобретение и
            доставку по указанному Покупателем
            адресу Товаров, выбранных на Сайте.
            <br>
            <br>
            <span> 1. Общие положения</span><br>
            1.1. Продавец осуществляет продажу Товаров через Интернет-магазин по адресу <a
                href="#">https://shop.modus-vivendi.ua/</a>
            1.2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи Товаров,
            изложенными ниже (далее – Условия продажи товаров). В случае несогласия Пользователь обязан прекратить
            использование сервиса и покинуть сайт <a href="#">https://shop.modus-vivendi.ua/</a>
            <br>
            <br>
            1.3. Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются
            публичной офертой в соответствии со ст. 633 Гражданского кодекса Украины.
            <br>
            <br>
            1.4. Настоящие условия могут быть изменены Продавцом в одностороннем порядке без уведомления
            Пользователя/Покупателя. Новая редакция Условий вступает в силу с момента ее опубликования на Сайте, если не
            будет предусмотрено иное.
            <br>
            <br>
            Договор розничной купли-продажи Товара считается заключенным с момента выдачи Продавцом Покупателю кассового
            или товарного чека либо иного документа, подтверждающего оплату товара.
            <br>
            <br>
            Сообщая Продавцу свой e-mail и номер телефона, Посетитель Сайта/Пользователь/Покупатель дает согласие на
            использование указанных средств связи Продавцом, а также третьими лицами, привлекаемыми им для целей
            выполнения обязательств перед Посетителями Сайта/Пользователями/Покупателями, в целях осуществления рассылок
            рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и
            других мероприятиях Продавца, о передаче заказа в доставку, а также иную информацию, непосредственно
            связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты.
            <br>
            <br>
            <span> 2. Предмет соглашения</span><br>
            2.1. Предметом Соглашения является предоставление возможности Пользователю приобретать Товары,
            представленные в каталоге Интернет-магазина по адресу <a href="#">https://shop.modus-vivendi.ua/</a>
            <br>
            <br>
            2.2. Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте, пока такие
            предложения с описанием присутствуют в каталоге Интернет-магазина.
            <br>
            <br>
            <span> 3. Регистрация на сайте</span><br>
            3.1. Регистрация на Сайте осуществляется с помощью окна «Регистрация».
            <br>
            <br>
            3.2. Регистрация на Сайте не является обязательной для оформления Заказа.
            <br>
            <br>
            3.3. Продавец не несет ответственности за точность и правильность информации, предоставляемой Пользователем
            при регистрации.
            <br>
            <br>
            3.4. Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные им при регистрации.
            <br>
            <br>
            3.5. Общение Пользователя/Покупателя с менеджерами и иными представителями Продавца должно строиться на
            принципах общепринятой морали и коммуникационного этикета. Строго запрещено использование нецензурных слов,
            брани, оскорбительных выражений, а также угроз и шантажа, в независимости от того, в каком виде и кому они
            были адресованы.
            <br>
            <br>
            <span>4. Товар и порядок совершения покупки</span><br>
            4.1. Продавец обеспечивает наличие на своем складе Товаров, представленных на Сайте. Сопровождающие Товар
            фотографии являются простыми иллюстрациями к нему и могут отличаться от фактического внешнего вида Товара.
            Сопровождающие Товар описания/характеристики не претендуют на исчерпывающую информативность и могут
            содержать опечатки. Для уточнения информации по Товару Покупатель должен обратиться к нашему менеджеру.
            <br>
            <br>
            4.2. В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить
            указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления
            соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации или по телефону.
            <br>
            <br>
            4.3. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее за собой
            невозможность надлежащего исполнения Продавцом своих обязательств перед Покупателем.
            <br>
            <br>
            4.4. После оформления Заказа на Сайте Покупателю предоставляется информация о предполагаемой дате доставки
            путем направления электронного сообщения по адресу, указанному Покупателем при регистрации, или по телефону.
            Менеджер, обслуживающий данный Заказ, уточняет детали Заказа, согласовывает дату доставки, которая зависит
            от наличия заказанных Товаров на складе Продавца и времени, необходимого для обработки и доставки Заказа.
            <br>
            <br>
            4.5. Ожидаемая дата передачи Заказа в Службу доставки сообщается Покупателю менеджером, обслуживающим Заказ,
            по электронной почте или при контрольном звонке Покупателю.
            <br>
            <br>
            5. Доставка заказа
            5.1. Товар доставляется почтовым оператором в виде почтового отправления с наложенным платежом или без него
            (при предварительной оплате заказа). Способы, а также примерные сроки доставки Товаров указаны на Сайте в
            разделе «Доставка и оплата». Конкретные сроки доставки могут быть согласованы Покупателем с менеджером.
            <br>
            <br>
            5.2. Территория доставки Товаров, представленных на Сайте, ограничена пределами Украины. Возможность
            доставки товаров за рубеж оговаривается индивидуально.
            <br>
            <br>
            5.3. Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.
            <br>
            <br>
            5.4. При доставке Заказ вручается Покупателю либо третьему лицу, указанному в Заказе в качестве получателя
            (далее Покупатель и третье лицо именуются «Получатель»). При невозможности получения Заказа, оплаченного
            посредством наличного расчета, указанными выше лицами, Заказ может быть вручен лицу, которому может
            предоставить сведения о Заказе ( номер отправления и/или ФИО Получателя ), а также оплатить стоимость заказа
            в полном объёме лицу, осуществляющему доставку Заказа.
            <br>
            <br>
            5.5. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему
            Заказа и проставления Получателем Заказа подписи в документах, подтверждающих доставку Заказа.
            <br>
            <br>
            5.6. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из физических параметров,
            стоимости товара, региона и способа доставки, и указывается на Сайте на последнем этапе оформления Заказа.
            <br>
            <br>
            5.7. Обязанность Продавца передать товар Покупателю считается исполненной в момент получения Покупателем
            отправления, как этот момент определяется в соответствии с действующими правилами почтовой связи.
            <br>
            <br>
            Порядок доставки и раскрытия Отправлений, содержащих товар, определяется действующими правилами почтовой
            связи.
            <br>
            <br>
            5.8. При принятии Заказа от курьера, Получатель обязан осмотреть доставленный Товар и проверить его на
            соответствие заявленному качеству, ассортименту и комплектности Товара, а также проверить целостность
            упаковки. В случае отсутствия претензий к доставленному Товару, Получатель расписывается в «Бланке доставки
            заказов» и оплачивает Заказ. Подпись в доставочных документах свидетельствует о том, что претензий к Товару
            Получателем не заявлено и Продавец полностью и надлежащим образом выполнил свою обязанность по передаче
            Товара.
            <br>
            <br>
            5.9. Пользователь понимает и соглашается с тем, что:
            осуществление доставки - отдельная услуга, не являющаяся неотъемлемой частью приобретаемого Покупателем
            Товара, выполнение которой заканчивается в момент получения Получателем Товара и осуществления платежа за
            него. Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара, рассматриваются
            в соответствии с Законом Украины «О защите прав потребителей» и гарантийными обязательствами Продавца. В
            связи с этим, приобретение Товара с доставкой не дает Покупателю право требования доставки приобретенного
            Товара в целях гарантийного обслуживания или замены, не дает возможности осуществлять гарантийное
            обслуживание или замену Товара посредством выезда к Покупателю и не подразумевает возможность возврата
            стоимости доставки Товара в случаях, когда Покупатель имеет право на возврат денег за Товар как таковой, в
            соответствии с Законом Украины «О защите прав потребителей».
            <br>
            <br>
            <span>6. Оплата товара</span><br>
            6.1. Цена товара указывается в гривнах
            <br>
            <br>
            6.2. Цена Товара указывается на Сайте. В случае неверного указания цены заказанного Покупателем Товара,
            Продавец информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования
            Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным.
            <br>
            <br>
            6.3. Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный
            Покупателем Товар изменению не подлежит.
            <br>
            <br>
            6.4. Оплата Товара осуществляется Покупателем наличными денежными средствами при получении Заказа в сумме,
            соответствующей сумме Заказа, указанной на Сайте или безналичным переводом по системе Приват 24, включая
            оплату через терминалы или кассы Приват банка.
            <br>
            <br>
            6.5. Продавец вправе предоставлять скидки на Товары и устанавливать программу бонусов. Виды скидок, бонусов,
            порядок и условия начисления указаны на Сайте и могут быть изменены Продавцом в одностороннем порядке.
            <br>
            <br>
            <span> 7. Возврат товара и денежных средств</span><br>
            7.1. Возврат Товара осуществляется в соответствии с условиями возврата, указанными на Сайте по адресу
            <a href="#">https://shop.modus-vivendi.ua/</a> в разделе «Доставка и оплата».
            <br>
            <br>
            Покупатель вправе отказаться от полученного Товара и расторгнуть Договор купли-продажи в течение 14
            календарных дней со дня получения Товара, не считая дня покупки, за исключением Товаров, которые не подлежат
            обмену и возврату.
            <br>
            <br>
            Возвращаемый товар, со всеми ярлыками и фабричной упаковкой должен быть выслан Покупателем ТК Новая почта по
            адресу: г. Харьков, склад №1 на ул. Плехановской, 126. Получатель ЧП «Сулименко О.А.», с вложением следующих
            документов: собственноручно заполненное заявление о возврате товара, копия паспорта, квитанция об оплате
            товара.
            <br>
            <br>
            7.2. Возврат Товара надлежащего качества
            <br>
            <br>
            7.2.1. Возврат Товара надлежащего качества возможен в случае, если товар не использовался, сохранен его
            товарный вид, потребительские свойства, ярлыки, упаковка, а также сохранен расчетный документ, выданный
            Покупателю вместе с проданным товаром.
            <br>
            <br>
            7.2.2. При отказе Покупателя от Товара согласно п.7.2.1. Продавец возвращает ему стоимость возвращенного
            Товара, в течение 30 дней с даты поступления возвращенного Товара на склад Продавца вместе с заполненным
            Покупателем заявлением на возврат. Возврат денежных средств стоимости Товара осуществляется исключительно
            лицу, указанному в Заказе на Товар, при условии предоставления таким лицом копии его (ее) национального
            паспорта и квитанции об оплате Товара, за который возвращаются средства. В случае, если Покупатель в Заказе
            указал неверные данные, либо не предоставил для возврата денежных средств все документы, перечисленные выше,
            Продавец оставляет за собой право отказать такому Покупателю в возврате денежных средств.
            <br>
            <br>
            7.2.3. Если на момент обращения Покупателя аналогичный товар отсутствует в продаже у Продавца, Покупатель
            вправе отказаться от исполнения настоящего Соглашения и потребовать возврата уплаченной за указанный Товар
            денежной суммы. Продавец обязан вернуть уплаченную за возвращенный товар денежную сумму в течение 30 дней со
            дня возврата Товара.
            <br>
            <br>
            7.3. Возврат Товара ненадлежащего качества:
            <br>
            <br>
            7.3.1. Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить
            исполнение своих функциональных качеств. Полученный Товар должен соответствовать описанию на Сайте. Отличие
            элементов дизайна, или оформления от заявленных в описании на Сайте не является признаком некачественности
            или нефункциональности Товара.
            <br>
            <br>
            7.3.2. Внешний вид и комплектность Товара, а также комплектность всего Заказа должны быть проверены
            Получателем в момент доставки Товара.
            <br>
            <br>
            7.3.3. После получения Заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному
            виду не принимаются.
            <br>
            <br>
            7.3.4. Если Покупателю был передан Товар ненадлежащего качества и иное не было заранее оговорено Продавцом,
            Покупатель вправе воспользоваться положениями ст. 8 «Права потребителя в случае приобретения им товара
            ненадлежащего качества» Закона Украины «О защите прав потребителей».
            <br>
            <br>
            7.3.5. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 30 дней со
            дня предъявления соответствующего требования (п. 4 ст. 12 Закона Украины «О защите прав потребителей»).
            <br>
            <br>
            7.4. Возврат денежных средств осуществляется посредствам возврата стоимости оплаченного Товара на карту
            Приват банка или курьерской службой Новая почта.
            <br>
            <br>
            7.5. Гарантийный срок на Товары устанавливается производителем и составляет 30 календарных дней на все
            изделия представленные на Сайте <a href="#">https://shop.modus-vivendi.ua/</a>
            <br>
            <br>
            Продавец не отвечает за недостатки Товара, если они возникли после его передачи Покупателю вследствие
            нарушения Покупателем правил пользования или хранения товара, действий третьих лиц, либо непреодолимой силы.
            <br>
            <br>
            <span>8. Ответственность</span><br>
            8.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего
            использования Товаров, приобретенных на Сайте <a href="#">https://shop.modus-vivendi.ua/</a>.
            <br>
            <br>
            8.2. Продавец не несет ответственности за содержание и функционирование внешних сайтов.
            <br>
            <br>
            <span>9. Конфиденциальность и защита информации</span>
            9.1. Персональные данные Пользователя/Покупателя обрабатывается в соответствии с Законом Украины от 01 июня
            2010 года № 2297-VI «О защите персональных данных».
            <br>
            <br>
            Персональные данные Покупателей хранятся в базе данных Продавца.
            <br>
            <br>
            9.2. При регистрации на Сайте Пользователь предоставляет следующую информацию: Фамилия, Имя, адрес
            электронной почты, номер контактного телефона и пароль для доступа к Сайту.
            <br>
            <br>
            9.3. Предоставляя свои персональные данные при регистрации на Сайте, Пользователь соглашается на их
            обработку Продавцом, в том числе и в целях продвижения Продавцом товаров и услуг.
            <br>
            <br>
            9.4. Продавец использует персональные данные Пользователя/Покупателя:
            <br>
            <br>
            для регистрации Пользователя на Сайте;
            для выполнения своих обязательств перед Пользователем/Покупателем;
            для оценки и анализа работы Сайта;
            для определения победителя в акциях, проводимых Продавцом.
            для выполнения рассылок по электронной почте, смс рассылок, телефонных звонков
            для предоставления персональных скидок
            для информирования об акциях и специальных предложениях
            <br>
            <br>
            9.4.1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту
            и мобильный телефон Пользователя/Покупателя.. Пользователь/Покупатель вправе отказаться от получения
            рекламной и другой информации без объяснения причин отказа. Сервисные сообщения, информирующие
            Пользователя/Покупателя о заказе и этапах его обработки, отправляются автоматически и не могут быть
            отклонены Пользователем/Покупателем.
            <br>
            <br>
            9.5. Продавец вправе использовать технологию «Cookies». «Cookies» не содержат конфиденциальную информацию и
            не передаются третьим лицам.
            <br>
            <br>
            9.6. Продавец получает информацию об ip-адресе посетителя Сайта <a
                href="#">https://shop.modus-vivendi.ua/</a>. Данная
            информация не используется для установления личности посетителя.
            <br>
            <br>
            9.7. Продавец не несет ответственности за сведения, предоставленные Пользователем/Покупателем на Сайте в
            общедоступной форме.
            <br>
            <br>
            9.8. Продавец вправе осуществлять записи телефонных разговоров с Пользователем/Покупателем. При этом
            Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе
            телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению
            Заказов, в соответствии с Законом Украины от 02.10.1992 года № 2657-XII «Об информации».
            <br>
            <br>
            <span>10. Дополнительные условия</span><br>
            10.1. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности,
            вытекающие из его отношений с Покупателем, третьим лицам.
            <br>
            <br>
            10.2. Интернет-магазин и предоставляемые сервисы могут временно частично или полностью недоступны по причине
            проведения профилактических или иных работ или по любым другим причинам технического характера. Техническая
            служба Продавца имеет право периодически проводить необходимые профилактические или иные работы с
            предварительным уведомлением Покупателей или без такового.
            <br>
            <br>
            10.3. К отношениям между Пользователем/Покупателем и Продавцом применяются положения законодательства
            Украины.
            <br>
            <br>
            10.4. В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он должен обратиться к
            Продавцу по телефону или иным доступным способом. Все возникающее споры стороны будут стараться решить путем
            переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии
            с действующим законодательством Украины.
            <br>
            <br>
            10.5. Признание судом недействительности какого-либо положения настоящего Соглашения не влечет за собой
            недействительность остальных положений.
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html'))(data) %>